# for ignoring the node_modules folder
node_modules/

# for ignoring the .env file
.env

# for ignoring log files
logs

# for ignoring temporary files
tmp/

# for ignoring package-lock.json
package-lock.json